.card {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-color: #8b8a8a;
  aspect-ratio: 4/3;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.text-card {
  position: absolute;
  left: 10%;
  bottom: 5px;
  color: white;
}
