.search-card {
  float: left;
  width: 300px;
  background-color: #febb02;
  border: 1px solid white;
  border-radius: 10px;
  padding: 13px;
  margin: 10px;
}

.search-card > * {
  margin: 5px;
}

.option {
  padding: 7px;
}

.option label {
  float: left;
}

.option input {
  float: right;
}

.no-num {
  width: 97%;
  height: 50px;
}

.option input {
  width: 80px;
  height: 30px;
}

.option div {
  overflow: auto;
  margin: 10px;
}
